<div class="content-ok">
  <img src="assets/isValid.png" alt="image valide" *ngIf="isValid" />
  <img src="assets/isNotValid.png" alt="image non valide" *ngIf="!isValid" />
  <div>
    <h2 *ngIf="currentProduct">{{currentProduct.name}}</h2>
    <p *ngIf="isValid" class="is-a-product">Est pas un produit correcte</p>
    <p *ngIf="!isValid" class="is-a-product">N'est pas un produit correcte.</p>
    <div *ngIf="!isValid && currentProduct && currentProduct.allergens.length !== 0">
      <p>Il contient les allergens suivant : </p>
      <ul>
        <li *ngFor="let allergen of currentProduct.allergens">
          {{allergen}}
        </li>
      </ul>
    </div>
    <div *ngIf="!isValid && currentProduct && currentProduct.traces.length !== 0">
      <p>Il contient les traces suivantes : </p>
      <ul>
        <li *ngFor="let trace of currentProduct.traces">
          {{trace}}
        </li>
      </ul>
    </div>
  </div>

</div>
